script import os, sys
script sys.path[:0] = [os.path.expanduser("~/dev/lldbpy")]

script import utils
script import logging as p

command alias pwd script print os.getcwd()
command script add -f utils.chdir cd
command script add -f utils.system system
command alias sc script

command regex rd 's/^[[:space:]]*$/po [[[UIApplication sharedApplication] keyWindow] recursiveDescription]/' 's/^(.+)$/po [%1 recursiveDescription]/'